div
  .modal-header
    h3 Confirm Group Creation
  .modal-body
    p Hey! Thanks so much for entering your group's information into the website!<br/> <br/> Before the website goes live are there any edits you would like to make to ensure your group's description is free of spelling and grammatical errors?
  .modal-footer
    button.btn.btn-primary(ng-click="confirm()") Create Group
    button.btn(ng-click="cancel()") Continue Editing

