.container
  .well
    form.form-horizontal(name="groupCreateOrEditForm")
      h3 Create/Edit Group
      .form-group
        label.col-md-2.control-label(for="title") Title
        .col-md-10
          input.form-control(name="title", type="text", placeholder="Title", ng-model="group.title", required, autocomplete="off" )
      .form-group
        label.col-md-2.control-label(for="groupLeaders") Group Leader(s)
        .col-md-10
          div(class="checkbox-group")
            div(ng-repeat="user in users")
              input(type="checkbox" name="groupLeaders" checklist-model="leaderIds" checklist-value="user._id" ng-disabled="identity.currentUser._id === user._id && !identity.isAdmin()")
              span {{user.name}}
      .form-group
        label.col-md-2.control-label(for="location") Location
        .col-md-10
          input.form-control(name="location", type="text", placeholder="City", ng-model="group.location", required, autocomplete="off" )
      .form-group
        label.col-md-2.control-label(for="dayOfTheWeek") Day Of The Week
        .col-md-10
          select.form-control(name="dayOfTheWeek", ng-options="item for item in daysOfTheWeek", ng-model="group.dayOfTheWeek", required)
      .form-group
        label.col-md-2.control-label(for="meetingTime") Time
        .col-md-10
          select.form-control(name="meetingTime", ng-options="item for item in meetingTimes", ng-model="group.meetingTime", required)
      .form-group
        label.col-md-2.control-label(for="memberLimit") Member Limit
        .col-md-10
          input.form-control(name="memberLimit", type="number", placeholder="20", ng-model="group.memberLimit", min="0", required, autocomplete="off" )
      .form-group
        label.col-md-2.control-label(for="audienceType") Audience
        .col-md-10
          select.form-control(name="audienceType", ng-options="item for (itemKey, item) in audienceTypes", ng-model="group.audienceType", required)
      .form-group
        label.col-md-2.control-label(for="childcare") Childcare
        .col-md-10
          input(name="childcare", type="checkbox", ng-model="group.childcare")
      .form-group
        label.col-md-2.control-label(for="topic") Topics
        .col-md-10
          div(class="checkbox-group")
            div(ng-repeat="topic in availableTopics")
              input(type="checkbox" name="groupTopics" checklist-model="group.topics" checklist-value="topic")
              span {{topic}}
      .form-group
        label.col-md-2.control-label(for="description") Description
        .col-md-10
          textarea.form-control(name="description", ng-model="group.description", required)
      .form-group
        label.col-md-2.control-label(for="disabled") Group Is Disabled
        .col-md-10
          input(name="disabled", type="checkbox", ng-model="group.disabled")
      .form-group
        label.col-md-2.control-label(for="members") Members
        .col-md-10
          table.table.table-hover.table-striped(name="members")
            thead
              tr
                th First Name
                th Last Name
                th Email
                th Status
                th Actions
            tbody
              tr(ng-repeat="member in group.members")
                td
                  input.form-control(type="text" placeholder="First Name" ng-model="member.firstName" ng-model-options="{ updateOn: 'mousedown blur' }" ng-required="true")
                td
                  input.form-control(type="text" placeholder="Last Name" ng-model="member.lastName" ng-model-options="{ updateOn: 'mousedown blur' }" ng-required="true")
                td
                  input.form-control(type="email" placeholder="Email" ng-model="member.email" ng-model-options="{ updateOn: 'mousedown blur' }" ng-required="false")
                td(style="width:150px")
                  select.form-control(ng-options="item for (itemKey, item) in statusTypes", ng-model="member.status", required)
                td
                  button.btn.btn-primary(ng-click="removeMember(member)") Remove
              tr
                td
                td
                td
                td
                td
                  button.btn.btn-default(ng-click="addMember()") Add Member
      .form-group
        .col-md-10.col-md-offset-2
          .pull-left
            button.btn.btn-default(ng-click="listMemberEmails()") Export Member Email Addresses
          .pull-right
            button.btn.btn-primary(ng-if="!group._id" ng-click="saveGroup()") Create Group
            button.btn.btn-primary(ng-if="group._id" ng-click="saveGroup()") Update Group
            | &nbsp;
            a.btn.btn-default(href="/") Cancel