div
  .modal-header
    h3 Confirm Delete
  .modal-body
    p Are you sure you want to delete the user: "{{user.firstName}} {{user.lastName}}" &lt;{{user.username}}&gt;?
  .modal-footer
    button.btn.btn-primary(ng-click="confirm()") Yes
    button.btn(ng-click="cancel()") Cancel

