.container
  table.table
    thead
      tr
        th Username (Email)
        th Name
        th(ng-if="identity.isAdmin()") Admin
        th(ng-if="identity.isSuperAdmin()") Super Admin
        th(ng-if="identity.isAdmin()") Actions
    tbody
      tr(ng-repeat="user in users")
        td {{user.username}}
        td {{user.firstName + " " + user.lastName}}
        td(ng-if="identity.isAdmin()") {{user.isAdmin()}}
        td(ng-if="identity.isSuperAdmin()") {{user.isSuperAdmin()}}
        td(ng-if="identity.isAdmin()")
          button.btn(ng-click="editUser(user)") Edit
          | &nbsp;
          button.btn(ng-click="deleteUser(user)") Delete