.idea
.DS_Store
node_modules
newrelic_agent.log
tsd.d.ts
typings/
npm-debug.log
public/bundle.js
client/build/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
dev.cert
dev.csr
dev.key