body {
  padding-top: 80px;
}
a,
a:visited {
  color: #e94f27;
}
tr th {
  color: #e94f27;
}
.jumbotron {
  padding: 20px;
}
.btn-primary {
  background-color: #e94f27;
  border-color: #e94f27;
}
.btn-primary:focus,
.btn-primary[disabled],
.btn-primary:hover {
  background-color: #e94c25;
  border-color: #e94c25;
}
.navbar {
  padding-top: 10px;
/*background-color #ef6839*/
/*border-color #ef6839*/
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar {
  min-height: 70px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form .button {
  margin-left: 10px;
}
.toast-top-full-width {
  height: 500px;
}
.toast-success {
  background-color: #ef6839;
}
.groups-table th {
  font-size: 23px;
  text-align: right;
  font-weight: normal;
}
.groups-group-row,
.groups-group-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.groups-group-cell,
.groups-group-cell:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}
.groups-data-row {
  text-align: right;
}
.groups-group-title {
  text-decoration: no-underline;
  color: #000;
  font-weight: bold;
}
.navbar-inverse {
  background-color: #e94f27;
  border-color: #e94f27;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.logged-in {
  color: #fff;
}
.logged-in:hover {
  cursor: pointer;
  text-decoration: underline;
}
