body
  padding-top 61px

.navbar
  background-color #ef6839
  border-color #ef6839


.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2