body
  padding-top 85px

.navbar
  padding-top 15px
  min-height 75px
  /*background-color #ef6839*/
  /*border-color #ef6839*/

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  .button
    margin-left 10px

.toast-top-right
  top 75px
.toast-success
  background-color #ef6839