extends ../includes/layout
block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Mosaic Groups
          h6 -Managing Mosaic Groups
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
        div(ng-include="'/partials/navbarLogin/navbar-login'")
  section.content
    div(ng-view)
  footer.container.text-center
    p &copy; 2013 Mosaic Christian Church.