extends ../includes/layout
block main-content
  div(ng-include="'/partials/navbarLogin/navbar-login'")
  .content
    div(ng-view)
  footer.container.text-center
    p &copy; 2013 Mosaic Christian Church.