.container
  .well
    form.form-horizontal(name="profileForm")
      fieldset
        legend User Profile
        .form-group
          label.col-md-2.control-label(for="username") Email
          .col-md-10
            input.form-control(name="username", type="email", placeholder="Email", ng-model="username", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="name") First Name
          .col-md-10
            input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="firstName", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="lastName") Last Name
          .col-md-10
            input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="lastName", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Password", ng-model="password", autocomplete="off" )
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="saveUser()", ng-disabled="profileForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
