.container
  .well
    form.form-horizontal(name="userCreateForm")
      fieldset
        legend Create User
        .form-group
          label.col-md-2.control-label(for="username") Email
          .col-md-10
            input.form-control(name="username", type="email", placeholder="Email", ng-model="username", required)
        .form-group
          label.col-md-2.control-label(for="firstName") First Name
          .col-md-10
            input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="firstName", required)
        .form-group
          label.col-md-2.control-label(for="lastName") Last Name
          .col-md-10
            input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="lastName", required)
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Password", ng-model="password")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="update()", ng-disabled="userCreateFormForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
