.container
  .well
    form.form-horizontal(name="loginForm")
      fieldset
        legend Log In
        .form-group
          label.col-md-2.control-label(for="username") Username (Email)
          .col-md-10
            input.form-control(name="username", type="email", placeholder="Username (Email)", ng-model="loginUsername", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Password", ng-model="loginPassword", required, autocomplete="off" )
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="login()", ng-disabled="loginForm.$invalid") Log In
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
  .well
    form.form-horizontal(name="signupForm")
      fieldset
        legend Register New User
        .form-group
          label.col-md-2.control-label(for="username") Username (Email)
          .col-md-10
            input.form-control(name="username", type="email", placeholder="Username (Email)", ng-model="signupUsername", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Password", ng-model="signupPassword", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="fname") First Name
          .col-md-10
            input.form-control(name="fname", type="text", placeholder="First Name", ng-model="signupFirstName", required, autocomplete="off" )
        .form-group
          label.col-md-2.control-label(for="lname") Last Name
          .col-md-10
            input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="signupLastName", required, autocomplete="off" )
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="signup()", ng-disabled="signupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
