.container
  .jumbotron
    h1 Mosaic Groups
  .row
    .col-md-12
      .panel.panel-primary
        .panel-heading.text-center Available Groups
        .panel-body
          div(ng-controller="groupListCtrl" ng-include="'/partials/groupList/group-list'")
