.container(ng-init="init()" ng-if="!identityService.isAuthenticated()")
  .jumbotron
    h1 {{group.title}}
  .container
    .row
      .col-md-6
        .well
          .row
            label.col-md-4 Group Name:
            .col-md-8
              span {{group.title}}
          .row
            label.col-md-4 Leader(s):
            .col-md-8
              div(ng-repeat="leader in group.leaders") {{leader.firstName}} {{leader.lastName}} &lt;{{leader.username}}&gt;{{$last ? '' : ', '}}
          .row
            label.col-md-4 Location:
            .col-md-8 {{group.location}}
          .row
            label.col-md-4 Day Of Week:
            .col-md-8 {{group.dayOfTheWeek}}
          .row
            label.col-md-4 Time:
            .col-md-8 {{group.meetingTime}}
          .row
            label.col-md-4 Audience:
            .col-md-8 {{group.audienceType}}
          .row
            label.col-md-4 Childcare:
            .col-md-8
              span(ng-if="group.childcare") Yes
              span(ng-if="!group.childcare") No
          .row
            label.col-md-4 Topic(s):
            .col-md-8
              span(ng-repeat="topic in group.topics") {{topic}}{{$last ? '' : ', '}}
          .row
            label.col-md-4 Description:
            .col-md-8 {{group.description}}
          .row
            .col-md-12
              br
              i
                div If you have any questions about this group send an email to:
                div(ng-repeat="leader in group.leaders") "{{leader.firstName}} {{leader.lastName}}" &lt;{{leader.username}}&gt;{{$last ? '' : ', '}}
      .col-md-6
        .well
          ng-form.form-horizontal(name="groupJoinForm" id="groupJoinForm")
            .h3(ng-if="group.audienceType === 'Middle School Students' || group.audienceType === 'High School Students'") Student:
            .form-group
              label.col-md-4.control-label(for="firstName") First Name
              .col-md-8
                input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="group.newMember.firstName", required, autocomplete="off" )
            .form-group
              label.col-md-4.control-label(for="lastName") Last Name
              .col-md-8
                input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="group.newMember.lastName", required, autocomplete="off" )
            .form-group
              label.col-md-4.control-label(for="email") Email
              .col-md-8
                input.form-control(name="email", type="email", placeholder="Email", ng-model="group.newMember.email", required, autocomplete="off" )
            .form-group
              label.col-md-4.control-label(for="email") Retype Email
              .col-md-8
                input.form-control(name="emailConfirm", type="email", placeholder="Retype Email", ng-model="emailConfirmed", required, autocomplete="off" ng-match="group.newMember.email" )
                div(ng-show="groupJoinForm.emailConfirm.$error.mismatch")
                  span.msg-error Email and Confirm Email must match.
            .form-group
              label.col-md-4.control-label(for="gender") Gender
              .col-md-8
                select.form-control(name="gender", ng-options="item for (itemKey, item) in genders", ng-model="group.newMember.gender", required)
            .form-group
              label.col-md-4.control-label(for="campus") Campus
              .col-md-8
                select.form-control(name="campus", ng-options="item for (itemKey, item) in campuses", ng-model="group.newMember.campus", required)
            .form-group
              label.col-md-4.control-label(for="phone") Phone Number
              .col-md-8
                input.form-control(name="phone", type="text", placeholder="Phone Number", ng-model="group.newMember.phone", required, autocomplete="off" )              
            .form-group
              label.col-md-4.control-label() Preferred Contact Method
              .col-md-8
                .col-md-6
                  label.radio-inline
                    input(type="radio", name="preferPhone", value="phone", ng-model="group.newMember.preferContactVia", checked)
                    | Phone
                .col-md-6
                  label.radio-inline
                    input(type="radio", name="preferEmail", value="email" ng-model="group.newMember.preferContactVia")
                    | Email


            .div(ng-if="group.audienceType === 'Couples'")
              .h3 Spouse Info:
              .form-group
                label.col-md-4.control-label(for="firstNameSpouse") First Name
                .col-md-8
                  input.form-control(name="firstNameSpouse", type="text", placeholder="First Name", ng-model="group.newMemberSpouse.firstName", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="lastNameSpouse") Last Name
                .col-md-8
                  input.form-control(name="lastNameSpouse", type="text", placeholder="Last Name", ng-model="group.newMemberSpouse.lastName", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="emailSpouse") Email
                .col-md-8
                  input.form-control(name="emailSpouse", type="email", placeholder="Email", ng-model="group.newMemberSpouse.email", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="emailSpouse") Retype Email
                .col-md-8
                  input.form-control(name="emailConfirmSpouse", type="email", placeholder="Retype Email", ng-model="spouseEmailConfirmed", required, autocomplete="off" ng-match="group.newMemberSpouse.email" )
                  div(ng-show="groupJoinForm.emailConfirmSpouse.$error.mismatch")
                    span.msg-error Email and Confirm Email must match.
              .form-group
                label.col-md-4.control-label(for="gender") Gender
                .col-md-8
                  select.form-control(name="gender", ng-options="item for (itemKey, item) in genders", ng-model="group.newMemberSpouse.gender", required)
              .form-group
                label.col-md-4.control-label(for="campus") Campus
                .col-md-8
                  select.form-control(name="campus", ng-options="item for (itemKey, item) in campuses", ng-model="group.newMemberSpouse.campus", required)
              .form-group
                label.col-md-4.control-label(for="phoneSpouse") Phone Number
                .col-md-8
                  input.form-control(name="phoneSpouse", type="text", placeholder="Phone Number", ng-model="group.newMemberSpouse.phone", required, autocomplete="off" )              
              .form-group
                label.col-md-4.control-label() Preferred Contact Method
                .col-md-8
                  .col-md-6
                    label.radio-inline
                      input(type="radio", name="preferPhoneSpouse", value="phone", ng-model="group.newMemberSpouse.preferContactVia", checked)
                      | Phone
                  .col-md-6
                    label.radio-inline
                      input(type="radio", name="preferEmailSpouse", value="email" ng-model="group.newMemberSpouse.preferContactVia")
                      | Email

            .div(ng-if="group.audienceType === 'Middle School Students' || group.audienceType === 'High School Students'")
              .h3 Emergency Contact:
              .form-group
                label.col-md-4.control-label(for="contactFirstName") First Name
                .col-md-8
                  input.form-control(name="contactFirstName", type="text", placeholder="First Name", ng-model="group.newMember.emergency_contact.firstName", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="contactLastName") Last Name
                .col-md-8
                  input.form-control(name="contactLastName", type="text", placeholder="Last Name", ng-model="group.newMember.emergency_contact.lastName", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="contactPhone") Phone 
                .col-md-8
                  input.form-control(name="contactPhone", type="text", placeholder="Phone", ng-model="group.newMember.emergency_contact.phone", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="contactEmail") Email
                .col-md-8
                  input.form-control(name="contactEmail", type="email", placeholder="Email", ng-model="group.newMember.emergency_contact.email", required, autocomplete="off" )
              .form-group
                label.col-md-4.control-label(for="contactEmailConfirm") Retype Email
                .col-md-8
                  input.form-control(name="contactEmailConfirm", type="email", placeholder="Retype Email", ng-model="ContactEmailConfirmed", required, autocomplete="off" ng-match="group.newMember.emergency_contact.email" )
                  div(ng-show="groupJoinForm.contactEmailConfirm.$error.mismatch")
                    span.msg-error Emergency Contact Email and Confirm Email must match.

            .form-group
              .col-md-10.col-md-offset-2
                .pull-right
                  span(tooltip='{{joinButtonTooltip}}')
                    button.btn.btn-primary(ng-disabled="!groupJoinForm.$valid || groupIsFull || disableJoin", ng-click="joinGroup()")
                      span(ng-show='!groupIsFull') Join
                      span(ng-show='groupIsFull') Group Is Full
                  | &nbsp;
                  span
                    a.btn.btn-default(href="/") Cancel
                   