.container(ng-if="!identityService.isAuthenticated()")
  .jumbotron
    h1 Joining the Group: "{{group.title}}"
.container
  .row
    .col-md-6
      .well
        .row
          label.col-md-4 Group Name:
          .col-md-8
            {{group.title}}
        .row
          label.col-md-4 Leader(s):
          .col-md-8
            span(ng-repeat="leader in group.leaders")
              {{leader.firstName}} {{leader.lastName}}
        .row
          label.col-md-4 Location:
          .col-md-8
            {{group.location}}
        .row
          label.col-md-4 Day Of The Week:
          .col-md-8
            {{group.dayOfTheWeek}}
        .row
          label.col-md-4 Time:
          .col-md-8
            {{group.meetingTime}}
        .row
          label.col-md-4 Gender:
          .col-md-8
            {{group.genderType}}
        .row
          label.col-md-4 Childcare:
          .col-md-8
            span(ng-if="group.childcare") Yes
            span(ng-if="!group.childcare") No
        .row
          label.col-md-4 Topic(s):
          .col-md-8
            span(ng-repeat="topic in group.topics")
              {{topic}}
        .row
          label.col-md-4 Description:
          .col-md-8
            {{group.description}}
    .col-md-6
      .well
        form.form-horizontal(name="groupJoinForm")
          .form-group
            label.col-md-4.control-label(for="firstName") First Name
            .col-md-8
              input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="group.newMember.firstName", required, autocomplete="off" )
          .form-group
            label.col-md-4.control-label(for="lastName") Last Name
            .col-md-8
              input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="group.newMember.lastName", required, autocomplete="off" )
          .form-group
            label.col-md-4.control-label(for="email") Email
            .col-md-8
              input.form-control(name="email", type="email", placeholder="Email", ng-model="group.newMember.email", required, autocomplete="off" )
          .form-group
            .col-md-10.col-md-offset-2
              .pull-right
                button.btn.btn-primary(ng-disabled="disableJoin", ng-click="joinGroup()") Join
                | &nbsp;
                a.btn.btn-default(href="/") Cancel
