div
  .modal-header
    h3 Confirm Delete
  .modal-body
    p Are you sure you want to delete the group: "{{group.title}}"?
  .modal-footer
    button.btn.btn-primary(ng-click="confirm()") Yes
    button.btn(ng-click="cancel()") Cancel

