.jumbotron(ng-if="!showNextSemesterMsg()" align="center")
  h2 Join a Mosaic Growth Group!
  .row(style='width:650px' ng-if="settings.datesMsg")
    h5 {{settings.datesMsg}}
  .row(style='width:650px' ng-if="identityService.isAdmin()")
    label.col-md-3.control-label(for="msgDates") Update Dates Message (admin only):
    .col-md-7
      input.form-control(name="msgDates", ng-model="settings.datesMsg")
    .col-md-2
      button.btn(ng-click="setDatesMessage(settings.datesMsg)") Save
.jumbotron(ng-if="showNextSemesterMsg()" align="center")
  h2 {{settings.nextSemesterMsg}}
  .row(style='width:650px' ng-if="identityService.isAdmin()")
    label.col-md-3.control-label(for="msg") Update Message (admin only):
    .col-md-7
      input.form-control(name="msg", ng-model="settings.nextSemesterMsg")
    .col-md-2
      button.btn(ng-click="setNextSemesterMessage(settings.nextSemesterMsg)") Save
.container-fluid
  //.row
  //  .col-md-12(ng-if="showNextSemesterMsg()")
  //    div(align="center")
  //      .well.well-sm
  //        p
  //          img(src="/img/nomoredragons.jpg")
  //          div(style='width:350px') What is faith? What's the point of prayer? How can we trust God when bad things happen to us? How did I end up like this? If you've ever asked these questions, our No More Dragons book and bible study this fall is where you want to be. Together, we'll learn what it means to "remove the scales" of our lives and practically see how God can change us—and continually change us so we can experience life to the full.
  .row
    .col-md-3(ng-if="!showNextSemesterMsg() || identityService.isAuthenticated()")
      .well.well-sm(ng-if="identityService.isAdmin()")
        .h3 Admin
        .row
          .col-md-12
            button.btn(ng-click="emailGroupReportToSelf()") Email Me Group Report
        br
        .row
          .col-md-12
            button.btn(ng-click="emailUniqueReportToSelf()") Email Me Unique Members Report
        br
        .row
          .col-md-12(ng-if="groupsDisabled()")
            button.btn(ng-click="disableGroups(false)") Enable Groups
            div
              &nbsp;
              i  - group signup is currently disabled
          .col-md-12(ng-if="!groupsDisabled()")
            button.btn(ng-click="disableGroups(true)") Disable Groups
            div
              &nbsp;
              i  - group signup is currently enabled
        br
        .row
          .col-md-12(ng-if="showNextSemesterMsg()")
            button.btn(ng-click="setShowNextSemesterMsg(false)") Hide Next Semester Message
            div
              &nbsp;
              i  - group list is currently hidden from users
            div
              &nbsp;
              i  - update the message on the right
          .col-md-12(ng-if="!showNextSemesterMsg()")
            button.btn(ng-click="setShowNextSemesterMsg(true)") Show Next Semester Message
            div
              &nbsp;
              i  - group list is currently being shown to users
        
      .well.well-sm
        .row
          .col-md-12
            iframe(src="//player.vimeo.com/video/90995000" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
      .well.well-sm
        .h3 Filter The Groups By:
        br
        .row
          .col-md-4
            label.control-label(for="titleFilter") Title
          .col-md-8
            input.form-control(name="titleFilter", placeholder="Filter Title", type="text", ng-model="titleFilter", autocomplete="off", ng-change="updateFilter('title', titleFilter)")
        .row
          .col-md-4
            label.control-label(for="locationFilter") Location
          .col-md-8
            input.form-control(name="locationFilter", placeholder="Filter Location", type="text", ng-model="locationFilter", autocomplete="off", ng-change="updateFilter('location', locationFilter)")
        .row
          .col-md-4
            label.control-label(for="dayOfWeekFilter") Day
          .col-md-8
            div(ng-dropdown-multiselect="", options="daysOfTheWeek", selected-model="dayOfTheWeekFilter")
            
        .row
          .col-md-4
            label.control-label(for="audienceTypesFilter") Audience
          .col-md-8
            select.form-control(name="audienceTypesFilter", placeholder="Filter Audience", ng-options="item for item in audienceTypes", ng-model="audienceTypesFilter" value="audienceTypesFilter", ng-change="updateFilter('audienceType', audienceTypesFilter)")
        .row
          .col-md-4
            label.control-label(for="childcareFilter") Childcare
          .col-md-8
            select.form-control(name="childcareFilter", placeholder="Filter Childcare", ng-options="item.value as item.label for item in childcareTypes", ng-model="childcareFilter", ng-change="updateFilter('childcare', childcareFilter)")
        .row
          .col-md-4
            label.control-label(for="topicsFilter") Topic
          .col-md-8
            select.form-control(name="topicsFilter", placeholder="Filter Topics", ng-options="item for item in availableTopics", ng-model="topicsFilter", ng-change="updateFilter('topics', topicsFilter)")
        .row
          .col-md-4
            label.control-label(for="openFilter") Hide Full Groups
          .col-md-8
            input(type="checkbox", id="openFiltercbx", name="openFilter", placeholder="Filter Open",  ng-model="openFilter", ng-change="updateFilter('open', openFilter)")
    .col-md-9(ng-if="!showNextSemesterMsg() || identityService.isAuthenticated()")
      table.groups-table.table.table-condensed.table-bordered(ng-table="tableParams")
        tbody(ng-repeat="group in $groups")
          tr.ng-table-group.groups-group-row
            td.groups-group-cell(colspan="{{$columns.length}}" ng-click="group.$hideRows=!group.$hideRows")
              span.groups-group-title
                span.glyphicon(ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }")
                | &nbsp;
                span {{group.value}}
          tr.groups-data-row(ng-hide="group.$hideRows || (mosaicGroup.leadersOnly && !identityService.isAuthenticated())" ng-repeat="mosaicGroup in group.data")
            td(data-title="'Title'") {{mosaicGroup.title}}
            td(data-title="'Details'")
              a(href="", popover="{{mosaicGroup.description}}" popover-placement="right" popover-trigger="mouseenter" popover-animation="true") Details...
            td(data-title="'Audience'") {{mosaicGroup.audienceType}}
            td(data-title="'Leader'" )
              div(ng-repeat="leader in mosaicGroup.leaders") {{leader.firstName}} {{leader.lastName}}
            td(data-title="'Location'") {{mosaicGroup.location}}
            td(data-title="'Time'") {{mosaicGroup.meetingTime}}
            td(data-title="'Childcare'") {{(mosaicGroup.childcare) ? "Yes" : "No"}}
            td(data-title="'Topic'")
              div(ng-repeat="topic in mosaicGroup.topics") {{topic}}
            td(data-title="'Action'")
              // if the group is not full, and the groups are not disabled, and this group is not disabled
              span(ng-if="!groupIsFull(mosaicGroup) && !groupsDisabled() && !groupIsDisabled(mosaicGroup)")
                a(href="", ng-click="joinGroup(mosaicGroup)")
                  b Join
              // if all groups are disabled
              span(ng-if="groupsDisabled()")
                b All Groups Are Closed
              // if this group is disabled
              span(ng-if="groupIsDisabled(mosaicGroup) && !groupsDisabled()")
                b This Group Is Closed
              // or show group is full
              span(ng-if="groupIsFull(mosaicGroup) && !groupsDisabled() && !groupIsDisabled(mosaicGroup)")
                b This Group Is Full
              // manage group
              span(ng-if="canEdit(mosaicGroup)")
                // show manage link
                a(ng-click="editGroup(mosaicGroup)", href="")
                  br
                  b Manage
                // show delete link
                a(ng-if="identityService.isAdmin()", ng-click="deleteGroup(mosaicGroup)", href="")
                  br
                  b Delete
                // show spots take
                br
                span(title="spots taken") ({{mosaicGroup.members.length}} of {{mosaicGroup.memberLimit}})

