.jumbotron(ng-if="!identityService.isAuthenticated()")
  h1 Select a Mosaic Growth Group to Join!
.row
  .col-md-3
    .well.well-sm
      .h3 Filters
      .row
        .col-md-4
          label.control-label(for="titleFilter") Title
        .col-md-8
          input.form-control(name="titleFilter", placeholder="Filter Title", type="text", ng-model="titleFilter", autocomplete="off", ng-change="updateFilter('title', titleFilter)")
      .row
        .col-md-4
          label.control-label(for="locationFilter") Location
        .col-md-8
          input.form-control(name="locationFilter", placeholder="Filter Location", type="text", ng-model="locationFilter", autocomplete="off", ng-change="updateFilter('location', locationFilter)")
      .row
        .col-md-4
          label.control-label(for="dayOfWeekFilter") Day
        .col-md-8
          select.form-control(name="dayOfWeekFilter", placeholder="Filter Day", ng-options="item for item in daysOfTheWeek", ng-model="dayOfTheWeekFilter",  ng-change="updateFilter('dayOfTheWeek', dayOfTheWeekFilter)")
      .row
        .col-md-4
          label.control-label(for="genderTypesFilter") Gender
        .col-md-8
          select.form-control(name="genderTypesFilter", placeholder="Filter Gender", ng-options="item for item in genderTypes", ng-model="genderTypesFilter" value="genderTypesFilter", ng-change="updateFilter('genderType', genderTypesFilter)")
      .row
        .col-md-4
          label.control-label(for="childcareFilter") Childcare
        .col-md-8
          select.form-control(name="childcareFilter", placeholder="Filter Childcare", ng-options="item.value as item.label for item in childcareTypes", ng-model="childcareFilter", ng-change="updateFilter('childcare', childcareFilter)")
      .row
        .col-md-4
          label.control-label(for="topicsFilter") Topics
        .col-md-8
          select.form-control(name="topicsFilter", placeholder="Filter Topics", ng-options="item for item in availableTopics", ng-model="topicsFilter", ng-change="updateFilter('topics', topicsFilter)")
  .col-md-9
    .well.well-sm
      table.groups-table.table(ng-table="tableParams")
        tbody(ng-repeat="group in $groups")
          tr.ng-table-group.groups-group-row
            td.groups-group-cell(colspan="{{$columns.length}}" ng-click="group.$hideRows=!group.$hideRows")
              span.groups-group-title
                span.glyphicon(ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }")
                | &nbsp;
                span {{group.value}}
          tr.groups-data-row(ng-hide="group.$hideRows" ng-repeat="mosaicGroup in group.data")
            td(data-title="'Title'") {{mosaicGroup.title}}
            td(data-title="'Details'")
              a(href="", popover="{{mosaicGroup.description}}" popover-placement="right") Details...
            td(data-title="'Leader(s)'" )
              div(ng-repeat="leader in mosaicGroup.leaders") {{leader.firstName}} {{leader.lastName}}
            td(data-title="'Location'") {{mosaicGroup.location}}
            td(data-title="'Type'") {{mosaicGroup.genderType}}
            td(data-title="'Childcare'") {{(mosaicGroup.childcare) ? "yes" : "no"}}
            td(data-title="'Topic(s)'")
              div(ng-repeat="topic in mosaicGroup.topics") {{topic}}
            td
              a(href="", ng-click="joinGroup(mosaicGroup)") Join
            td(ng-if="identityService.isAuthenticated()")
              button.btn(ng-if="canEdit(mosaicGroup)", ng-click="editGroup(mosaicGroup)") Manage
              | &nbsp;
              button.btn(ng-if="canEdit(mosaicGroup)", ng-click="deleteGroup(mosaicGroup)") Delete