script(type="text/javascript", src="/vendor/jquery/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/vendor/ng-table/ng-table.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/views/home/homeCtrl.js")
script(type="text/javascript", src="/app/views/navbarLogin/navbarLoginCtrl.js")
script(type="text/javascript", src="/app/views/groupCreateOrEdit/groupCreateOrEditCtrl.js")
script(type="text/javascript", src="/app/views/profile/profileCtrl.js")
script(type="text/javascript", src="/app/views/userCreate/userCreateCtrl.js")
script(type="text/javascript", src="/app/views/userEdit/userEditCtrl.js")
script(type="text/javascript", src="/app/views/userList/userListCtrl.js")
script(type="text/javascript", src="/app/views/groupList/groupListCtrl.js")
script(type="text/javascript", src="/app/views/groupJoin/groupJoinCtrl.js")
script(type="text/javascript", src="/app/services/authorizationService.js")
script(type="text/javascript", src="/app/services/identityService.js")
script(type="text/javascript", src="/app/services/userService.js")
script(type="text/javascript", src="/app/services/groupService.js")
script(type="text/javascript", src="/app/models/User.js")
script(type="text/javascript", src="/app/models/Group.js")
script(type="text/javascript", src="/app/common/notifierService.js")
script(type="text/javascript", src="/app/common/toastrService.js")